*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.contener{
    width: 1500px;
    margin-left: 250px;
    /* border: 1px solid red;   */
}